@media (max-width: 520px) {

.container {
    /* margin-top: 200px; */
    width: 100%;
    /* padding: 0 20px 0 20px; */
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 50px 100px 500px 100px 400px 100px 100px;
    grid-gap: 20px;
;
    
    

    }

    header {
        grid-column: 2/3;
        justify-self: center;
        margin-top: 10px;
        place-self: center

    }
        .soc {
            display: none;
        }

    .hero {
        grid-column: 2/3;
        text-align: center;
        justify-self: center;
        place-self: center
    }

    .services {
        display: grid;
        grid-column: 2/3;
        /* justify-self:center */
        margin-top: 50px;
        /* margin-left: calc(50% - 150px); */
        text-align: center;
        
    }
        

       

    .freelance {
        grid-column: 2/3;
        grid-row: 4/5;
        justify-self: center;
        text-align: center;
        place-self: center
        
    }

    .testimonials {
        display: grid;
        grid-column: 2/3;
        grid-row: 5/6;
        text-align: center;
    }

        .testimonials > span {
            place-self: center
        }

        .testimonials1 {
            place-self: center
        }

        .testimonials2 {
            place-self: center
        }

    footer {
        grid-column: 2/3;
        grid-row: 6/7;
        text-align: center;
        place-self: center
    }

    nav {
        grid-column: 2/3;
        grid-row: 7/8;
        text-align: center;
        place-self: center
    }
}